{%  extends 'main/base.html' %}

{% block content %}

<div class="container col-10">
    <div class="card">
        <div class="card-header text-center">
            <h3>Список наших пользователей</h3>
        </div>
        <div class="card-body">
            <div class="col-12">
                <table class="table text-center">
                    <tr>
                        <th><h6>email</h6></th>
                        <th><h6>Cтатус</h6></th>
                        <th><h6></h6></th>
                    </tr>
                        {% for object in object_list %}
                    <tr>
                        <td><h8>{{ object.email }}</h8></td>
                        <td><h8>{{ object.is_activated }}</h8></td>
                        <td><h8>
                            {% if perms.main.set_is_activated %}
                                <a class="p-2 btn btn-outline-primary" href="{% url 'users:update_user' object.pk %}" >Редактировать</a>
                            {% endif %}
                        </h8></td>

                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>


{% endblock %}