{% extends 'main/base.html' %}

{% block content %}

<div class="col-12">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Мои клиенты</h4>
        </div>
        <div class="card-body">
            <a href="{% url 'main:client_list' %}" class="p-2 btn btn-outline-primary" >Клиенты</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Мои письма</h4>
        </div>
        <div class="card-body">
            <a href="{% url 'main:msg_list' %}" class="p-2 btn btn-outline-primary" >Письма</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Мои рассылки</h4>
        </div>
        <div class="card-body">
            <a href="{% url 'main:mailing_list' %}" class="p-2 btn btn-outline-primary" >Рассылки</a>
        </div>
    </div>
</div>

{% endblock %}